body {
  background: lightpink
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.math-quiz {
  margin-top: 1rem;
}

.problem {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.score {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
