.linksWrapper{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    align-items: center;
}
.title{}
.links{
    display: flex;
    align-items: center;
    gap: 57px;
}