body {
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}

.app-container {
  background: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 12px rgb(140, 74, 253) solid;
}